@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #000;
  font-family: "pretendard", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

ul, li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration-line: none;
}

.wrap {
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  position: fixed; /*포지션 엡솔루트, 픽스드 쓰면 div 100%가 풀림*/
  left: 30px;
  top: 13px;
  /*right: 30px 사용해도 됨*/
  width: calc(100% - 60px);
  mix-blend-mode: difference;
  color: #fff;
}
.header .logo_sec {
  width: 30px;
}
.header .logo_sec img {
  width: 100%;
}
.header .plus:hover {
  transform: rotate(-45deg);
  transition-duration: 1.2s;
  cursor: pointer;
}
.header .plus {
  width: 30px;
}
.header .plus img {
  width: 100%;
}
.header .plus.active {
  transform: rotate(45deg);
}

.header .main_menu {
  display: flex;
  gap: 20px;
  font-weight: 500;
}

.main_desc {
  height: 150px;
  margin-top: 196px;
  padding-left: 30px;
  font-size: 50px;
  font-weight: 500;
  color: #fff;
  padding-bottom: 30px;
}
.main_desc .line {
  line-height: 55px;
}
.main_desc span {
  animation: typing 2s steps(15), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.project_items {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 27px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}

.project_items .pr_item {
  position: relative;
  width: calc(33.333% - 10px);
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
}

.project_items .pr_item:hover .pr_img {
  transform: scale(1.2);
  cursor: pointer;
  filter: brightness(0.5);
}

.project_items .pr_img {
  transition-duration: 1.2s;
}

.project_items .pr_img img {
  width: 100%;
  display: block;
}

.project_items .pr_info {
  display: flex;
  justify-content: center;
  gap: 16px;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

.footer {
  width: 100vw;
  height: 100px;
  border-top: 1px solid #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.footer .my_info {
  padding-left: 30px;
  line-height: 30px;
  display: flex;
  padding-top: 30px;
}

.fullscreen_content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden !important;
  /*visibility: hidden;*/
  opacity: 0;
  z-index: 99;
  pointer-events: none;
  transition-duration: 0.3s;
}
.fullscreen_content.active {
  pointer-events: initial;
  opacity: 1;
}
.fullscreen_content .header .logo_sec {
  width: 30px;
}
.fullscreen_content .header .logo_sec img {
  width: 100%;
}
.fullscreen_content .header .plus:hover {
  transform: rotate(-45deg);
  transition-duration: 1.2s;
  cursor: pointer;
}
.fullscreen_content .header .plus {
  width: 30px;
}
.fullscreen_content .header .plus img {
  width: 100%;
}
.fullscreen_content .fullscreen_inner {
  position: relative;
  height: 100%;
  display: flex;
}
.fullscreen_content .fullscreen_inner .fullscreen_menu {
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
}
.fullscreen_content .fullscreen_inner .fullscreen_menu ul li {
  max-width: 50%;
  min-width: 400px;
  width: 34.5%;
  font-weight: 600;
}
.fullscreen_content .fullscreen_inner .fullscreen_menu ul li a:hover {
  color: #fff;
  transition: 0.3s;
}
.fullscreen_content .fullscreen_inner .fullscreen_menu ul li a {
  font-size: 58px;
  text-decoration-line: none;
  color: #8e8e8e;
}
.fullscreen_content .fullscreen_inner .fullscreen_menu ul li a span {
  font-size: 40px;
}/*# sourceMappingURL=style.css.map */